




<table class="display responsive nowrap" width="100%" id="datatable">
    <thead>
        <tr>

            <th> @Html.DisplayName("Symbol") </th>
            <th> @Html.DisplayName("OpenPrice")</th>
            <th> @Html.DisplayName("LastPrice")</th>
            <th> @Html.DisplayName("PriceChange")</th>
            <th> @Html.DisplayName("PriceChange%")</th>

        </tr>
        </thead>
     @*   <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.symbol</td>
                <td>@row.openPrice</td>
                <td>@row.lastPrice</td>
                <td>@row.priceChange</td>
                <td>@row.priceChangePercent</td>
            </tr>
        }
        </tbody>*@
</table>

   

@section scripts{
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>

<script type="text/javascript">

    $(document).ready( function () {
        
         var dt = $('#datatable').DataTable(
              {
                    responsive: true,
                    columns : [ {
                            "data" : "symbol"
                        }, {
                            "data" : "openPrice"
                        }, {
                            "data" : "lastPrice"
                        }, {
                            "data" : "priceChange"
                        }, 
                        {
                            "data" : "priceChangePercent"
                        }
                      
                    ],
                    //search can by done only by first column
                    columnDefs: [
                        {
                            targets: [1],
                            searchable: false
                        },
                        {
                            targets: [2],
                            searchable: false
                        },
                        {
                            targets: [3],
                            searchable: false
                        },
                        {
                            targets: [4],
                            searchable: false
                        }

                    ],
                    //function that checks the last column value and changes the color based on value
                    fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        var lastColumnValue = aData["priceChangePercent"];
                        debugger
                        if (lastColumnValue > 0) {
                            $('td', nRow).css('background-color', '#40ff00');
                        } 
                        else if (lastColumnValue < 0) {
                            $('td', nRow).css('background-color', '	#ff5252');
                        }
                        else {
                            $('td', nRow).css('background-color', 'FFF');
                        }
                    }

                });

        getAllData();

        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
            connection.on("DataChanged", function () {
                getAllData();
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });

        function getAllData() {
            $.ajax({
                      url: "/Home/FetchData",
                      type: 'GET',
                      dataType: 'json',
                      dataSrc: '',
                      success: function(data) {
                         dt.clear();
                         dt.rows.add(data);
                         dt.draw();
                      }
                  });
            }
        } 
    );
</script>

}
